/* ===== Variables globales ===== */
:root{
    --color-bg:#0D0D0D;
    --color-text:#F5F5F5;
    --color-text-muted:#B0B0B0;
    --color-red:#8B0000;
    --color-red-alt:#B22222;
    --color-red-hover:#FF0000;
    --color-border:#660000;
    --color-bg-alt:#2C2C2C;
    
    --font-body:'Lora',serif;
    --font-title:'Cinzel',serif;

    --shadow:0 10px 20px rgba(0,0,0,.45);
    --radius:14px;
}

/* ===== Base ===== */
*{box-sizing:border-box}
body{
    background:var(--color-bg);
    color:var(--color-text);
    font-family:var(--font-body);
    /* padding:24px; */
    margin:0;
}

/*HEADER*/

#header-titulo{
    font-family: var(--font-title);
    color: var(--color-border);
    font-size: 60px;
    text-align: center;
    border-bottom: solid grey 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .nav{
    border-bottom: solid grey 1px;
    padding-bottom: 7px;
}

.nav-link{
    color: ghostwhite;
}

.nav-link:hover{
    color: #FF0000;
}

/* ===== Footer ===== */
.site-footer {
    background: var(--color-bg);         
    color: var(--color-text);
    font-family: var(--font-body);
}

.footer-title {
    font-family: var(--font-title);
    font-size: 1.8rem;
    color: var(--color-red);
    margin-bottom: 0.5rem;
}

.footer-subtitle {
    font-family: var(--font-title);
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    color: var(--color-red-alt);
}

.footer-text {
    font-size: 0.95rem;
    color: var(--color-text-muted);
}

.footer-link {
    color: var(--color-text-muted);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: var(--color-red-hover);
}

.footer-social a {
    font-size: 0.95rem;
}

.footer-bottom {
    border-color: var(--color-border) !important;
    font-size: 0.85rem;
    color: var(--color-text-muted);
}

.social-icon{
    text-decoration: none;
}
.fab-icon{
    color: #660000;
  
}