/* Hero Section */
.sn-hero{
    width: 100%;
    margin: 0;
    height: 700px;
    
}
.sn-hero-image-container{
    width: 100%;
    position: absolute;
    height: inherit;
    z-index: -10;
    padding: 0;
    /* object-fit: contain; 
    object-position: center; */
    overflow: hidden;
}
.sn-hero-image{
    width: 100%;
    height: inherit;
    object-fit: cover; /* La imagen cubre el contenedor, cortando los bordes si es necesario */
    object-position: center;
}
.sn-hero-content{
    width: 80%;
    height: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.sn-hero-title{
    font-family: var(--font-title);
    color: var(--color-red);
    font-size: 5em;
    text-shadow: 10px 10px 10px #e1d5d5;
    text-align: center;
}
.sn-hero-paragraph{
    color: #f2efef;
    font-size: 1.3em;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
.sn-hero-btn{
    height: auto;
    width: 150px;
    padding: 5px;
    color: var(--color-text);
    background-color: #541313e8;
    border-radius: 10px;
    border: 1px solid #000;
   box-shadow: 10px 10px 10px #202020ee;
}
.sn-hero-btn:hover{
    background-color:#541313;
}


/* Values Section */

.sn-values{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sn-values-content{
    text-align: center;
}
.sn-values-title{
    font-family: var(--font-title);
    color: var(--color-red);
    font-size: 3em;
    text-shadow: 10px 10px 10px #e1d5d5;
}
.sn-values-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}
.sn-values-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    max-width: 350px;
    height: 350px;
    box-shadow: 5px 5px 10px #4f4949;
    padding: 5px;
    border-radius: var(--radius);
}
.sn-values-card-emojitile{
    width: 35px;
    padding: 4px;
    font-size: 20px;
    background-color: #e1d5d5;
    border-radius: 5px;
}
.sn-values-card-title{
    font-family: var(--font-title);
    color: var(--color-red);
}
.sn-values-card-paragraph{
    font-size: 13px;

}

/* Slider Section */
.sn-slider{
    width: 80vw;
    height: auto;
    margin: auto;
    overflow: hidden;

}
.sn-slider .sn-slider-track{
    display: flex;
    align-items: center;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(200px * 18);
    gap: 10px;
}

.sn-slider .sn-slide{
    width: 200px;
    
}

.sn-slide img{
    width: 100%;
    margin: 2px;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    
}

/* History Section */

.sn-history{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    align-items: center;
    justify-content: space-between;
}
.sn-history-content{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.sn-history-image-container{
    width: 40%;
    height: auto;
    object-fit: contain; 
    object-position: center
}
.sn-history-image{
    width: 100%;
    height: auto;
    border-radius: var(--radius);
    align-self: center;
}
.sn-history-title{
    font-family: var(--font-title);
    color: var(--color-red);
    text-shadow: 10px 10px 10px #e1d5d5;
}


/* Responsive */
@media screen and (max-width: 800px) {
    .sn-hero-title {
    font-size: 3em;
    }
    .sn-hero-paragraph {
    font-size: 1em;
    text-shadow: 3px 2px 3px black;
    }

    .sn-values-title{
    font-size: 2em;
    }
    .sn-values-card{
    height: fit-content;
    }
    .sn-history{
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .sn-history-content{
    width: 90%;
    align-items: center;
    text-align: center;
    }
    .sn-history-image-container{
    width: 90%;
    height: 300px;
    overflow: hidden;
    }
    .sn-history-image{
    width: 100%;
    height: auto;
    object-fit: cover; 
    object-position: bottom;
    }

}

@keyframes scroll {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 9));
        transform: translateX(calc(-200px * 9));
    }
}